body{
    font-family: Arial, Helvetica, sans-serif;
    
}
nav a{
    
   text-decoration: none;
   margin: 25px;
   color: grey;
   justify-self: center;
}
main h1{
    
    justify-self: center;
    margin-top: 300px;
    color: grey;
}
main a{
    justify-content: center;
    display: flex;
    color: grey;
    text-decoration: none;
}
.ab{
    margin-top: 50px;
    justify-content: center;
    justify-self: center;
}
pre{
    font-family: Arial, Helvetica, sans-serif;
   
}
#os {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 20px;
  max-width: 800px;
  margin-left: 150px;
   text-decoration: none;
   margin: 25px;
   color: grey;
   justify-self: center;
 
}
#s{
   margin: 25px;
   color: grey;
   justify-self: center;
}
#md {
    
  display: flex;
  gap: 40px;
  justify-self: center;
  margin-left: 150px;
  box-shadow: darkblue;
}
#ds{margin-top: 50px;
    margin-left: 200px;
    justify-self: center;
    box-shadow: 0px 0px 10px ;
}
#dj{
    box-shadow: 0px 0px 10px ;
}
#dk{
      box-shadow: 0px 0px 10px ;
}
#p{
    padding: 30px;
     box-shadow: 0px 0px 10px ;
     border-radius: 40px;
}
#n{margin: 10px;
    padding: 30px;
     box-shadow: 0px 0px 10px ;
     border-radius: 40px;
}
